* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 191, 255, 0.929);
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(100,0,500,1);
    font-size: 8vmin;
    background-color: white;
}

#reset {
    padding: 0.8rem;
    box-shadow: 0px 0px 10px rgba(100,0,500,1);
    font-size: 1.5rem;
    border-radius: 1rem;
    background-color: rgb(141, 71, 206);
}

#newGame {
    padding: 0.8rem;
    box-shadow: 0px 0px 10px rgba(100,0,500,1);
    font-size: 1.5rem;
    border-radius: 1rem;
    background-color: rgb(141, 71, 206);
}

#msg {
    color: rgb(236, 240, 14);
    font-size: 6vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.hide {
    display: none;
}